/**
 * ==================================================================================================
 * APP-RESPONSIVE.CSS
 * ==================================================================================================
 * Author: Kaitlin Kidd
 * Date: 10.18.16
 * Version: 0.0.1
 * Purpose: Responsive styles for website.
 * Notes:
 * --- W3C CSS Validation: http://jigsaw.w3.org/css-validator/#validate_by_uri
 * --- Bootstrap Media Queries: http://getbootstrap.com/css/#grid-media-queries
 * --- Device Media Queries: http://resizr.co/
 * --------------------------------------------------------------------------------------------------
 * Revision History
 * --------------------------------------------------------------------------------------------------
 * Date          Revision Description                                                     Modified By
 * --------------------------------------------------------------------------------------------------
 * 09.29.2016 - Created Original Document                                             KAK
 * 10.18.2016 - Fixed bug where browser wasn't full length on mobile    KAK
 * ==================================================================================================
 *
 * -- Contents --
 * 00. Defaults
 * 01. Nav
 * 02. Hero
 * 03. Demo
 * 04. Code
 * 05. Sources
 *
 * -- Breakpoints --
 * |     375px     | - iPhone 6 - Portrait
 * |     480px     | - XS (Bootstrap)
 * |     768px     | - S (Bootstrap)
 * |     992px     | - M (Bootstrap)
 * |     1200px    | - L (Bootstrap)
 *
 */
 /* ------------------------------------------------------------------------- */
 /* ------------------------ iPhone 6 - Portrait  ------------------------ */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 375px) {
   /*************************
   * 00. Defaults
   *************************/
   h3 {
     font-size: 1.2em;
   }

   h4 {
     font-size: 1.5em;
   }

   h5 {
     font-size: 0.9em;
   }

   /*************************
   * 01. Nav
   *************************/


   /*************************
   * 02. Hero
   *************************/

  #hero-heading > h1 {
  margin: 0;
  font-size: 2.5em;
  padding-top: 30px;
}

#hero-hr {
 width: 60%;
}

.scroller {
  width: 50px;
  height: 35px;
}

#arrow {
  display: block;
  padding-top: 5px;
  font-size: smaller;
}

   /*************************
   * 03. Demo
   *************************/
#leftcolumn {
  width: 100%;
}

#rightcolumn {
  width: 100%;
}

#star_constellation {
  width: 90%;
}

#star_name {
  width: 90%;
}

   /*************************
   * 04. Code
   *************************/

   /*************************
   * 05. Sources
   *************************/

 }

 /* ------------------------------------------------------------------------- */
 /* ------------------------ Extra Small Devices  ----------------------- */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 480px) {
   /*************************
   * 00. Defaults
   *************************/
   h3 {
     font-size: 1.5em;
   }


   /*************************
   * 02. Hero
   *************************/
#hero-heading > h1 {
  margin: 0;
  font-size: 3em;
}

#hero-hr {
 width: 58%;
}

   /*************************
   * 03. Demo
   *************************/
#leftcolumn {
  width: 100%;
}

#rightcolumn {
  width: 100%;
}

#star_constellation {
  width: 75%;
}

#star_name {
  width: 75%;
}

   /*************************
   * 04. Code
   *************************/

   /*************************
   * 05. Sources
   *************************/
 }

 /* ------------------------------------------------------------------------- */
 /* ---------------------------  Small Devices  -------------------------- */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 768px) {
   /*************************
   * 00. Defaults
   *************************/
   h3 {
     font-size: 1.8em;
   }

   h5 {
     font-size: 1.3em;
   }


   /*************************
   * 02. Hero
   *************************/
   #hero-heading > h1 {
     margin: 0;
     font-size: 4em;
   }

   #hero-hr {
    width: 52%;
   }

   /*************************
   * 03. Demo
   *************************/
   #star_constellation {
     width: 75%;
   }

   #star_name {
     width: 75%;
   }

   /*************************
   * 04. Code
   *************************/

   /*************************
   * 05. Sources
   *************************/
 }

 /* ------------------------------------------------------------------------- */
 /* ---------------------------  Medium Devices  ----------------------- */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 992px) {
   /*************************
   * 00. Defaults
   *************************/
   h4 {
     font-size: 1.8em;
   }

   h5 {
     font-size: 1.3em;
   }
   /*************************
   * 01. Nav
   *************************/

   /*************************
   * 02. Hero
   *************************/
   #hero-heading > h1 {
     margin: 0;
     font-size: 5em;
   }

   #hero-hr {
    width: 52%;
   }

   .scroller {
     width: 75px;
     height: 45px;
   }

   #arrow {
     display: inline-block;
     padding-top: 0px;
     font-size: inherit;
   }

   /*************************
   * 03. Demo
   *************************/
   #star_constellation {
     width: 85%;
   }

   #star_name {
     width: 85%;
   }
   /*************************
   * 04. Code
   *************************/

   /*************************
   * 05. Sources
   *************************/
 }

 /* ------------------------------------------------------------------------- */
 /* -----------------------------  Large Devices  ------------------------ */
 /* ------------------------------------------------------------------------- */
 @media only screen and (min-width : 1200px) {
   /*************************
   * 00. Defaults
   *************************/
   h4 {
     font-size: 2em;
   }
   /*************************
   * 01. Nav
   *************************/

   /*************************
   * 02. Hero
   *************************/
   #hero-hr {
    width: 45%;
   }
   /*************************
   * 03. Demo
   *************************/
   #star_constellation {
     width: 100%;
   }

   #star_name {
     width: 100%;
   }

    #leftcolumn {
     width: 50%;
   }

   #rightcolumn {
     width: 50%;
   }
   /*************************
   * 04. Code
   *************************/

   /*************************
   * 05. Sources
   *************************/
 }
